.warning {
  color: red;
  font-style: italic;
  text-transform: capitalize;
}

.sum {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.title {
  text-transform: capitalize;
  color: forestgreen;
}

.app__holder {
  margin: 10px 0;
}