@import '../../node_modules/bulma/sass/utilities/initial-variables.sass'
  
// 2. Set own initial variables
$blue: #72d0eb
$pink: #ffb3b3
$pink-invert: #fff
$family-serif: "Merriweather", "Georgia", serif

// 3. Set the derived variables
$primary: $pink
$primary-invert: $pink-invert

// Use the existing orange as the danger color
$danger: $orange

// Use the new serif family
$family-primary: $family-serif

@import '../../node_modules/bulma/bulma.sass'