mixin second-page(data)
    .second-page
        .center
            .grid
                .grid__sizer
                .grid__item
                .grid__item.grid__item--secondo
                .grid__item
                .grid__item.grid__item--tetro
                .grid__item.grid__item--secondo
                .grid__item
                .grid__item.grid__item--tetro
                .grid__item.grid__item--tetro
                .grid__item
                .grid__item.grid__item--secondo
                .grid__item
                .grid__item
                .grid__item.grid__item--secondo
                .grid__item
                .grid__item.grid__item--tetro
                .grid__item.grid__item--secondo
                .grid__item
                .grid__item.grid__item--tetro
                .grid__item.grid__item--secondo
                .grid__item
                .grid__item.grid__item--tetro
                .grid__item.grid__item--tetro
                .grid__item
                .grid__item.grid__item--secondo
                .grid__item
                .grid__item
                .grid__item.grid__item--secondo
