mixin example()
    .block
        .block__primary
            input.block__input( type='text' id="name" placeholder='your name' )
            label.block__label( for='name' ) name
        .block__secondary
            input.block__input( type='text' id="surname" placeholder='your surname' )
            label.block__label( for='surname' ) surname
