mixin gallery(data)
    .gallery
        .gallery__item
            | first block
        .gallery__item
            | second block
        .gallery__item(data-bottom-top='' data-center-top='margin-top: -10%')
            | third block
        .gallery__item
            | fourth block
        .gallery__item
            | fifth block
        .gallery__item
            | sixth block