mixin gallery(data)
    .gallery
        .gallery__item
            | first block
        .gallery__item
            | second block
        .gallery__wrapper
            .gallery__item(data-bottom-top='transform:translate(0%,0%)' data-top-top='transform:translate(0%,-100%)')
                | scrollr block
        .gallery__item
            | fourth block
        .gallery__item
            | fifth block
        .gallery__item
            | sixth block