body {
  margin: 20px 0;
}

.bookshelf {
  padding: 20px;
  border: 1px solid #ccc;

  & .page-header {
    margin-top: 0;
    text-align: center;
    text-transform: capitalize;
  }

  & .form-group:last-child {
    margin-bottom: 0;
  }

  & .form-control,
  & label {
    text-transform: capitalize;
  }

}

.bookshelf__controls {
  position: relative;
  min-height: 34px;

  & .btn {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: capitalize;
  }

  & #bookshelfSave {
    z-index: 1;
  }

  & #bookshelfEdit {
    z-index: 2;
    display: none;
  }

}

.bookshelf__list {
  margin-bottom: 0;
  padding-top: 12px;
  text-transform: capitalize;

  & .card {
    width: 48%;
    float: left;
    margin: 0 1% 2%;
    padding: 20px;
    border: 1px solid rgba( 0,0,0, .125 );
    border-radius: 4px;
    background-color: #f7f7f9;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .card-title {
    font-size: 20px;
    margin: 0 0 10px;
  }

  & .card-subtitle {
    font-size: 14px;
    margin: 0 0 20px;
  }

  & .card-edit,
  & .card-remove {
    text-transform: capitalize;
  }

}

/* ============= MEDIA QUERIES ============= */

/* 992px --------------------------- */
@media screen and ( max-width: 991px ) {
  .bookshelf .bookshelf__primary {
    margin-bottom: 40px;
  }
}

/* 500px --------------------------- */
@media screen and ( max-width: 499px ) {
  .bookshelf .bookshelf__list .card {
    width: 98%;
    margin: 0 0 2%;
  }
}
