mixin isotope(data)

    h1 Isotope - masonry fluid sizing
    .iso1.grid
        .grid-sizer
        .grid-item.grid-item--width2
        .grid-item.grid-item--height2
        .grid-item
        .grid-item
        .grid-item.grid-item--width2.grid-item--height2
        .grid-item.grid-item--width2
        .grid-item.grid-item--width2
        .grid-item.grid-item--height2
        .grid-item
        .grid-item.grid-item--width2
        .grid-item.grid-item--height2
        .grid-item
        .grid-item

    h1 Isotope - imagesLoaded progress
        .iso2.grid
            .grid-sizer
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg")
            .grid-item
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg")
