mixin slider(data)
    .slider
        .slider__item
            h1.slider__title slider title 1
        .slider__item
            h1.slider__title slider title 2
        .slider__item
            h1.slider__title slider title 3
        .slider__item
            h1.slider__title slider title 4
