button {
  cursor: pointer;
}

.app__row {
  padding: 10px 20px;
}

.app__list {
  min-width: 200px;
}

.progress {
  border: 1px solid #000;
  height: 30px;
  position: relative;
}

.progress__bar {
   height: inherit;
   background-color: lightgreen;
 }

.progress__label {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 14px;
   font-family: sans-serif;
}