mixin index-gallery(data)
    .index-gallery
        .index-grid
            .index-grid-sizer
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
            .index-grid-item
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.
                p Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение модели развития.