
body {
    margin: 20px 0;
}

.bookshelf {
    padding: 20px;
    border: 1px solid #ccc;
}

.bookshelf__primary .form-control {
    text-transform: capitalize;
}

.bookshelf__list {
    margin-bottom: 0;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.bookshelf__list .card {
    width: 48%;
    float: left;
    /*display: inl ine-block;*/
    margin: 0 1% 2%;
    padding: 20px;
    border: 1px solid rgba( 0,0,0, .125 );
    border-radius: 4px;
    background-color: #f7f7f9;
}

/*.bookshelf__list .card::after {*/
    /*content: '';*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

.bookshelf__list .card-title,
.bookshelf__list .card-subtitle,
.bookshelf__list .card-edit,
.bookshelf__list .card-remove {
    text-transform: capitalize;
}

.bookshelf__list .card-title {
    font-size: 20px;
    margin: 0 0 10px;
}

.bookshelf__list .card-subtitle {
    font-size: 14px;
    margin: 0 0 20px;
}

