
body {
    margin: 20px 0;
}

.bookshelf {
    padding: 20px;
    border: 1px solid #ccc;
}

.bookshelf .form-group:last-child {
    margin-bottom: 0;
}

.bookshelf__primary .form-control {
    text-transform: capitalize;
}

.bookshelf__controls {
    position: relative;
    min-height: 34px;
}

.bookshelf__controls .btn {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: capitalize;
}

.bookshelf__controls #bookshelf__save {
    z-index: 1;
}

.bookshelf__controls #bookshelf__edit {
    z-index: 2;
    display: none;
}

.bookshelf__list {
    margin-bottom: 0;
}

.bookshelf__list .card {
    width: 48%;
    float: left;
    margin: 0 1% 2%;
    padding: 20px;
    border: 1px solid rgba( 0,0,0, .125 );
    border-radius: 4px;
    background-color: #f7f7f9;
}

.bookshelf__list .card-title,
.bookshelf__list .card-subtitle,
.bookshelf__list .card-edit,
.bookshelf__list .card-remove {
    text-transform: capitalize;
}

.bookshelf__list .card-title {
    font-size: 20px;
    margin: 0 0 10px;
}

.bookshelf__list .card-subtitle {
    font-size: 14px;
    margin: 0 0 20px;
}


/* 992px --------------------------- */
/* --------------------------------- */
@media screen and ( max-width: 991px )  {
    .bookshelf .bookshelf__primary {
        margin-bottom: 40px;
    }
}

/* 500px --------------------------- */
/* --------------------------------- */
@media screen and ( max-width: 499px )  {
    .bookshelf .bookshelf__list .card {
        width: 98%;
        margin-left: 0;
        margin-right: 0;
    }
}


























