
:root {
    --primary-color: #ddd;
    --secondary-color: #0074d9;
    --tertiary-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin: 0 0 40px;
    font: 700 30px/1.2 serif;
}

.chart {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: rotate(-90deg);
}

.chart .pie {
    fill: var(--primary-color);
    stroke: var(--secondary-color);
    stroke-width: 50;
    stroke-dasharray: 0 158;
    transition: stroke-dasharray .2s ease;
}

.buttons {
    margin: 0 0 60px;
    display: flex;
    justify-content: center;
}

.buttons button {
    text-transform: capitalize;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 0 10px;
    font: 400 14px/1.2 sans-serif;
    transition: background-color .1s ease, color .2s ease;
}

.buttons button.is-active {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-weight: 500;
}
