.shopping {
  padding-top: 2rem;

  &__caption {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }


  &__main {
    margin-top: 2rem;
  }

  &__button {
    cursor: pointer;
    text-transform: uppercase;
  }

  & .form-check-label {
    text-transform: capitalize;
  }
}