input[type=range].photo-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}
input[type=range].photo-slider:focus {
  outline: none;
}
input[type=range].photo-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #283645;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].photo-slider::-webkit-slider-thumb {
  border: 2px solid #d22856;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #f2f2f2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range].photo-slider:focus::-webkit-slider-runnable-track {
  background: #314355;
}
input[type=range].photo-slider::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #283645;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].photo-slider::-moz-range-thumb {
  border: 2px solid #d22856;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #f2f2f2;
  cursor: pointer;
}
input[type=range].photo-slider::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].photo-slider::-ms-fill-lower {
  background: #1f2935;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range].photo-slider::-ms-fill-upper {
  background: #283645;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range].photo-slider::-ms-thumb {
  border: 2px solid #d22856;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #f2f2f2;
  cursor: pointer;
  height: 2px;
}
input[type=range].photo-slider:focus::-ms-fill-lower {
  background: #283645;
}
input[type=range].photo-slider:focus::-ms-fill-upper {
  background: #314355;
}
