mixin flex-columns(data)
    .columns
        .columns__item.columns__item--content
            h3.columns__title columns title
            h4.columns__subtitle columns subtitle
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend non metus elementum pellentesque. Maecenas varius sit amet risus sed condimentum. Pellentesque fermentum sodales risus quis blandit. Duis sodales pellentesque condimentum. Aliquam luctus, massa volutpat maximus maximus, libero ligula efficitur lorem, sit amet auctor ante ex ut risus. Donec quis dui ac ligula convallis vestibulum. Donec ac blandit arcu, vitae efficitur justo. Donec iaculis nisl vel efficitur convallis.
        .columns__item.columns__item--empty
        .columns__item.columns__item--content
            h3.columns__title columns title
            h4.columns__subtitle columns subtitle
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend non metus elementum pellentesque. Maecenas varius sit amet risus sed condimentum. Pellentesque fermentum sodales risus quis blandit. Duis sodales pellentesque condimentum. Aliquam luctus, massa volutpat maximus maximus, libero ligula efficitur lorem, sit amet auctor ante ex ut risus. Donec quis dui ac ligula convallis vestibulum. Donec ac blandit arcu, vitae efficitur justo. Donec iaculis nisl vel efficitur convallis.
        .columns__item.columns__item--empty
