*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: 400 16px/1.2 Arial, sans-serif;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

/* main rules */

.panel__container {
    position: relative;
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    height: 100%;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
    transform: translateX(-102%);
    display: flex;
    flex-direction: column;
    will-change: transform;
}