*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 20px 0;
    background-color: #596283;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.caption {
    text-transform: uppercase;
    margin: 40px 0;
    text-align: center;
    color: #fff;
}

/* ===============     TABS JQUERY       =========== */

.tabs {
  margin: 0 20px;
  position: relative;
  background: #eff1e4;
  box-shadow: 0 0 40px rgba( 0, 0, 0, .2 );
}

.tabs .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background: #ad9897;
  color: #6c5d5d;
  text-shadow: 1px 1px 1px rgba( 255, 255, 255, .2 );
  width: 150px;
}

.tabs .nav .nav__item {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.tabs .nav .nav__item:hover,
.tabs .nav .nav__item.selected {
  background: #6c5d5d;
  color: #ad9897;
  text-shadow: 1px 1px 1px rgba( 0, 0, 0, .2 );
}

.tabs .content {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 150px;
  color: #6c5d5d;
  height: 100%;
  overflow: hidden;
  transition: opacity 0.1s linear 0s;
  /* MAKE CONTENT HIDDEN */
  width: 0;
  opacity: 0;
}

.tabs .content .content__title {
    margin: 0 0 30px;
    text-transform: capitalize;
}

.tabs .content.visible {
  padding: 20px;
  overflow: scroll;
  /* MAKE CONTENT VISIBLE */
  width: calc( 100% - 150px );
  opacity: 1;
}

.tabs .content p:not(:last-of-type) {
    margin: 0 0 20px;
}
