mixin background(data)
    .background
        .background__section
            .background__article
                p lorem ipsum dolor
        .background__section
            .background__article
                p lorem ipsum dolor
        .background__section#slide-1
            .background__article(
                data--100-bottom-top='background-position: 50% 0%;'
                data-top-bottom='background-position: 50% -100%;'
                data-anchor-target='#slide-1')
                p lorem ipsum dolor - skrollr
        .background__section
            .background__article
                p lorem ipsum dolor
        .background__section
            .background__article
                p lorem ipsum dolor
        .background__section
            .background__article
                p lorem ipsum dolor