mixin tetro-page()
    .tetro-page
        .center
            .tetro-grid
                .tetro-grid__sizer
                .tetro-grid__item
                    .tetro-page__content
                .tetro-grid__item.tetro-grid__item--uno
                    .tetro-page__content
                .tetro-grid__item
                    .tetro-page__content
                .tetro-grid__item.tetro-grid__item--duo
                    .tetro-page__content
                .tetro-grid__item
                    .tetro-page__content
                .tetro-grid__item
                    .tetro-page__content
                .tetro-grid__item.tetro-grid__item--tre
                    .tetro-page__content
                .tetro-grid__item.tetro-grid__item--duo
                    .tetro-page__content
                .tetro-grid__item
                    .tetro-page__content
                .tetro-grid__item
                    .tetro-page__content
