mixin triangle(data)
    .block
        .block__top
            canvas#triangleTop
            img.block-image-top
        .block__center
            h2.block__title large block title
            h3.block__subtitle small block subtitle
            p lorem ipsum dolor est lorem ipsum dolor est lorem ipsum dolor est lorem ipsum dolor est lorem ipsum dolor est
            p lorem ipsum dolor
        .block__bottom
            canvas#triangleBottom
            img.block-image-bottom
