mixin fotorama(data)

    h1: a(href="http://fotorama.io/" target="_blank" title="Fotorama") Fotorama

    // FOTORAMA
    // ---------------------------------------------------------------

    ul.fotorama(data-arrows="true" data-allowfullscreen="true")
        li.fotorama__item
            img(src="http://s.fotorama.io/1.jpg" data-caption="One")
        li.fotorama__item
            img(src="http://s.fotorama.io/2.jpg" data-caption="Two")