* {
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.frame{
    width:370px;
    height:370px;
    display:block;
    position:relative;
    border-radius:9px;
    background:rgba(51, 72, 95, 1);
    color:white;
}

.center{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:330px;
    height:330px;
}

.headline
{
    display:block;
    position:relative;
    top:19px;
    text-transform: uppercase;
}

.headline .small
{
    display:block;
    font-weight:300;
}

.headline .normal
{
    font-size:24px;
    font-weight:600;
    padding-bottom:2px;
}

.circle-big
{
    display:block;
    width:114px;
    height:114px;
    margin:0 auto;
    margin-top:37px;
    position:relative;
}

.circle-big .main
{
    stroke-width: 10px;
    stroke:rgb(27, 42, 51);
}

.circle-big .progress
{
    stroke-width: 10px;
    stroke:rgb(36, 224, 180);
    stroke-dasharray:240 112;
    stroke-dashoffset:107;
    stroke-linecap: round;
}

.circle-big svg
{
    display:block;
    width:114px;
    height:114px;
    margin:0 auto;
    fill:none;
}

.circle-big .text
{
    position:absolute;
    top:34px;
    width:114px;
}

.circle-big .text .normal
{
    font-size:24px;
}

.circle-big .text .small
{
    font-size:12px;
    color:rgba(100, 129, 146, 1);
}

.circles-small
{
    margin:0 auto;
    margin-top:30px;
    padding-left:2px;
    width:252px;
}

.circle-small
{
    float:left;
    display:block;
    width:80px;
    height:80px;
    margin-left:23px;
    margin-right:22px;
    position:relative;
}

.circle-small .main
{
    stroke-width: 6px;
    stroke:rgb(27, 42, 51);
}

.circle-small .progress
{
    stroke-width: 6px;
    stroke:rgb(255, 101, 69);
}

.circle-small .progress
{
    stroke-dasharray:100 140;
    stroke-dashoffset:65;
    stroke-linecap: round;
}

.circle-small:first-child .progress
{
    stroke-dasharray:150 70;
    stroke-dashoffset:45;
    stroke-linecap: round;
}

.circle-small svg
{
    display:block;
    width:80px;
    height:80px;
    margin:0 auto;
    fill:none;
}

.circle-small .text
{
    position:absolute;
    top:24px;
    width:78px;
}

.circle-small .text .normal
{
    font-size:15px;
}

.circle-small .text .small
{
    font-size:10px;
    color:rgba(100, 129, 146, 1);
}

@media all and (max-width: 500px) {

.frame{
    width:180px;
    height:370px;
}

.center{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:160px;
    height:330px;
}

.circles-small
{
    width:100%;
    margin:0 auto;
    margin-top:10px;
}

.circle-small
{
    float:none;
    display:block;
    width:80px;
    height:80px;
    margin-top:5px;
    margin-left:38px;
    position:relative;
}

    .circle-small .text
{
    padding-left:1px;
}

.headline
{
    top:9px;
}

.headline .small
{

}

.headline .normal
{
    padding-bottom:0px;
}

.circle-big
{
    margin-top:29px;
}


}
