mixin slider(data)
    .slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                .swiper-slide
                .swiper-slide
                .swiper-slide
            .swiper-pagination
            .swiper-button-next
            .swiper-button-prev