doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/index-gallery/index-gallery
    include ../components/map/map
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            +index-gallery()
            +map()

            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAjunIsdBzwn5n0IhHJctIg4PPCMlH7u24&language=en&region=AU')
        script(src='%=static=%js/main%=hash=%%=min=%.js')