*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
}

/* MAIN RULES */

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .grid__item {
        flex: 0 1 33.33%;
    }
}

.grid__item {
    flex: 0 1 25%;
    height: 100px;
    background-color: #bd8a1e;
    border: 1px solid #000;
    border-radius: 5px;
}

