mixin flex-layout(data)
    .flex-layout
        .wrapper
            .wrapper__header
                h1 lorem ipsum dolor est
            .wrapper__main
                .wrapper__item
                    .wrapper__image
                        .wrapper__play
                    p.wrapper__info lorem ipsum dolor est
                .wrapper__item
                    .wrapper__image
                        .wrapper__play
                    p.wrapper__info lorem ipsum dolor est
                .wrapper__item
                    .wrapper__image
                        .wrapper__play
                    p.wrapper__info lorem ipsum dolor est
                .wrapper__item
                    .wrapper__image
                        .wrapper__play
                    p.wrapper__info lorem ipsum dolor est
