mixin simple(data)
    .simple
        .simple__item
            header.simple__header
                .simple__cover
                    .simple__nav
                        a.simple__link.simple__link--primo( href='javascript:void(0);' )
                        a.simple__link.simple__link--secondo( href='javascript:void(0);' )
            footer.simple__footer
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
        .simple__item
            header.simple__header
                .simple__cover
                    .simple__nav
                        a.simple__link.simple__link--primo( href='javascript:void(0);' )
                        a.simple__link.simple__link--secondo( href='javascript:void(0);' )
            footer.simple__footer
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
        .simple__item
            header.simple__header
                .simple__cover
                    .simple__nav
                        a.simple__link.simple__link--primo( href='javascript:void(0);' )
                        a.simple__link.simple__link--secondo( href='javascript:void(0);' )
            footer.simple__footer
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et