mixin main()
    .main
        .columns
            .column.is-one-third
                p.notification.is-info
                    | primo
            .column
                p.notification.is-success
                    | seecondo
            .column
                p.notification.is-warning
                    | tetro
            .column
                p.notification.is-danger
                    | quattro
        .columns
            .column.is-half
                p.notification.is-info
                    | half
            .column
                p.notification
                    | part
            .column
                p.notification
                    | part
