mixin main()
    .main
        .columns
            .column.is-one-third
                p.notification.is-info
                    | primo
            .column
                p.notification.is-success
                    | seecondo
            .column
                p.notification.is-warning
                    | tetro
            .column
                p.notification.is-danger
                    | quattro
