mixin block-image(data)
    .block-image
        .block-image__center
            figure.block-image__primary
            article.block-image__content
                .block-image__header
                    h2.block-image__title
                        | title
                    p
                        | lorem ipsum dolor est
                .block-image__footer
                    ul.block-image__list
                        li.block-image__item
                            a.block-image__button( href='#0' )
                                | 1
                        li.block-image__item
                            a.block-image__button( href='#0' )
                                | 2
