body {
  background-color: #D3D3D3;
}

.uno-grid {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin: 0 0 20px;
}

.uno-grid-item__1 {
  background-color: palegreen;
}

.uno-grid-item__2 {
  background-color: palegoldenrod;
}

.uno-grid-item__3 {
  background-color: indianred;
}

/* --------------  -------------- */

.duo-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  margin: 0 0 20px;
}

.duo-grid-item {
  padding: 10px;
}

.duo-grid-item-1 {
  background-color: cornsilk;
}

.duo-grid-item-2 {
  background-color: #FF7F50;
}

.duo-grid-item-3 {
  background-color: #8FBC8F;
}

/* --------------  -------------- */

.tre-grid {
  display: grid;
  grid-template-columns: min-content 200px max-content;
  margin: 0 0 20px;
}

.tre-grid-item {
  padding: 10px;
}

.tre-grid-item-1 {
  background-color: #FF69B4;
}

.tre-grid-item-2 {
  background-color: #90EE90;
}

.tre-grid-item-3 {
  background-color: #87CEFA;
}

/* --------------  -------------- */

.quattro-grid {
  display: grid;
  grid-template-columns: 200px minmax( 100px, 600px ) 200px;
  margin: 0 0 20px;
}

.quattro-grid-item {
  padding: 10px;
}

.quattro-grid-item-1 {
  background-color: #FFB6C1;
}

.quattro-grid-item-2 {
  background-color: #B0C4DE;
}

.quattro-grid-item-3 {
  background-color: #FFE4B5;
}










