mixin first-page(data)
    .first-page
        .center
            .grid
                .grid__sizer
                .grid__item
                .grid__item.grid__item--double
                .grid__item
                .grid__item.grid__item--double
                .grid__item.grid__item--double
                .grid__item
                .grid__item.grid__item--double
                .grid__item
