button {
    cursor: pointer;
    text-transform: capitalize;
}

.row {
    padding: 20px 0;
}

.nav {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: lightgreen;
}

.nav__item {
    margin: 10px 0;
    padding: 20px;
    background-color: mediumseagreen;
}

.nav__link {
    display: block;
    padding: 10px;
    background-color: seagreen;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.title {
    background-color: skyblue;
    padding: 20px 10px;
}

.block {
    padding: 20px;
    background-color: #f0ad4e;
    margin: 0 0 10px;
}

.block__title {
    text-transform: capitalize;
    margin: 0 0 20px;
}

.block__button {
    text-transform: capitalize;
}