mixin overlay(data)
    .overlay
        .overlay__center
            .overlay__item
                .overlay__header
                    img.overlay__image(src='%=static=%img/assets/overlay/sample-01.jpg' alt='Overlay Image')
                    .overlay__cover
                        .overlay__nav
                            a.overlay__link.overlay__link--primo( href='javascript:void(0);' )
                            a.overlay__link.overlay__link--secondo( href='javascript:void(0);' )
                .overlay__footer
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            .overlay__item
                .overlay__header
                    img.overlay__image(src='%=static=%img/assets/overlay/sample-02.jpg' alt='Overlay Image')
                    .overlay__cover
                        .overlay__nav
                            a.overlay__link.overlay__link--primo( href='javascript:void(0);' )
                            a.overlay__link.overlay__link--secondo( href='javascript:void(0);' )
                .overlay__footer
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            .overlay__item
                .overlay__header
                    img.overlay__image(src='%=static=%img/assets/overlay/sample-03.jpg' alt='Overlay Image')
                    .overlay__cover
                        .overlay__nav
                            a.overlay__link.overlay__link--primo( href='javascript:void(0);' )
                            a.overlay__link.overlay__link--secondo( href='javascript:void(0);' )
                .overlay__footer
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
