.container {
  position: relative;
}

.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  color: 	#008B8B;
}

.list {
  margin: 20px 0 0;

  &__item {
    text-transform: capitalize;
    margin: 0 0 10px;
  }

  &__link {
    color: #DC143C;
    text-decoration: none;

    &:hover {
      color: #FF7F50;
    }
  }

  &__field {
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
    color: darkslategrey;
    font-weight: 700;
  }

  &__button {
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
